language: python

python:
    - "2.6"
    - "2.7"
    - "3.3"
    - "3.4"
    - "3.5"

install:
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # Replace dep1 dep2 ... with your dependencies
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION numpy pandas pytest requests
  - source activate test-environment
  - pip install namedlist ordereddict cchardet argparse chardet
  - pip install coverage==3.7.1
  - pip install openpyxl==2.0.3
  - pip install pytest-cov coveralls
  - python setup.py install

script:
    - py.test --cov=lasio

after_success:
    - coveralls

notifications:
  email:
    recipients:
      - kinverarity@hotmail.com
    on_success: change
    on_failure: always