language: python
python:
    - "2.7"
    - "3.5"
    - "3.6"
    - "3.7"
    - "3.8"
install:
  - pip install -e .
  - pip install pytest>=3.6 pytest-cov coverage pathlib
script:
    - pytest
notifications:
  email:
    recipients:
      - kinverarity@hotmail.com
    on_success: change
    on_failure: change
